/*

# Header

## Variables

*/

$top-ta: right !default;
$header-padding: 10px !default;
$header-border: 1px solid #ddd !default;
$header-welcome-fw: bold !default;
$header-welcome-ta: right !default;
$header-links-float: right !default;
$header-search-ta: right !default;
$header-seachauto-bd: 1px solid #ddd !default;
$header-seachauto-bgc: #fff !default;
$header-seachauto-item-pad: 30px !default;
$header-seachauto-item-bdb: 1px solid #ddd !default;
$header-seachauto-amount-float: right !default;
$header-seachauto-amount-fw: bold !default;
$header-lang-ta: right !default;

/*

```
	<div class="header-container">
	    <div class="header">
	        <h1 class="logo"><strong>Magento Commerce</strong><a class="logo" title="Magento Commerce" href=""><img alt="Magento Commerce" src="/stylesheet/assets/images/logo.gif"></a></h1>
	        <div class="quick-access">
	            <form method="get" action="" id="search_mini_form">
	                <div class="form-search">
	                    <label for="search">Search:</label>
	                    <input type="text" maxlength="128" class="input-text" value="" name="q" id="search" autocomplete="off">
	                    <button class="button" title="Search" type="submit"><span><span>Search</span></span></button>
	                    <div class="search-autocomplete" id="search_autocomplete">
	                        <ul>
	                            <li class="odd first selected"><span class="amount">10</span>Term</li>
	                            <li class="even last"><span class="amount">10</span>Term</li>
	                        </ul>
	                    </div>
	                </div>
	            </form>
	            <p class="welcome-msg">Welcome, Customer Name!</p>
	            <ul class="links">
	                <li class="first"><a title="My Account" href="">My Account</a></li>
	                <li><a title="My Wishlist" href="">My Wishlist</a></li>
	                <li><a class="top-link-cart" title="My Cart (2 items)" href="">My Cart (2 items)</a></li>
	                <li><a class="top-link-checkout" title="Checkout" href="">Checkout</a></li>
	                <li class=" last"><a title="Log Out" href="">Log Out</a></li>
	            </ul>
	            <div class="form-language">
	                <label for="select-language">Your Language:</label>
	                <select title="Your Language" id="select-language">
	                    <option selected="selected" value="">English</option>
	                    <option value="">French</option>
	                    <option value="">German</option>
	                </select>
	            </div>
	        </div>
	    </div>
	</div>
```

*/

.logo { float:left; }
.header-container {
	.top-container { 
		clear:both;
		text-align: $top-ta;
	}
}
.header { 
	padding: $header-padding;
	border: $header-border;
	.logo { 
		float:left; 
		text-decoration:none !important;
		& h1 {
			margin: 0;
			padding: 0;
		}
		strong { 
			position:absolute; 
			top:-999em; 
			left:-999em; 
			width:0; 
			height:0; 
			font-size:0; 
			line-height:0; 
			text-indent:-999em; 
			overflow:hidden;
		}
	}
	.welcome-msg { 
		font-weight: $header-welcome-fw; 
		text-align: $header-welcome-ta;
		a {}
	}
	.links { float:right; }
	.form-search { 
		text-align:right;
		.search-autocomplete { 
			z-index:999;
			ul { border: $header-seachauto-bd; background-color: $header-seachauto-bgc; }
			li { 
				padding: $header-seachauto-item-pad; 
				border-bottom: $header-seachauto-item-bdb; 
				cursor:pointer;
				&.selected {}
				.amount { float: $header-seachauto-amount-float; font-weight: $header-seachauto-amount-fw; }
			}
		}
	}
	.form-language { clear:both; text-align: $header-lang-ta; }
}