/*

# Pages

Top level page layout for Magento's standard options, 1column, 2columns-left, 2-columns-right and 3columns.

## Variables

*/

$page-pad: 10px 0 !default;
$page-ta: left !default;
$page-width: 1000px !default;

$main-margin: 10px 0 !default;

$col-left-bd: 1px solid #ddd !default;
$col-left-pad: 5px 5px 0 !default;
$col-left-width: 230px !default;
$col-main-bd: 1px solid #ddd !default;
$col-main-pad: 5px !default;
$col-main-width: 736px !default;
$col-right-bd: 1px solid #ddd !default;
$col-right-pad: 5px 5px 0 !default;
$col-right-width: 230px !default;

$page-col3-main-ml: 10px !default;
$page-col3-main-width: 484px !default;
$page-col3-wrap-width: 748px !default;

/*

## Common Page Styling

*/
.wrapper {}
.page { width: $page-width; margin:0 auto; padding: $page-pad; text-align:$page-ta; }
.page-print { background:#fff; padding:20px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { padding:20px; text-align:left; }
.main-container {}
.main { margin: $main-margin; }

/*

## Base Column Sizes

*/
.col-left { float:left; width: $col-left-width; border: $col-left-bd; padding: $col-left-pad; }
.col-main { float:left; width: $col-main-width; border: $col-main-bd; padding: $col-main-pad; }
.col-right { float:right; width: $col-right-width; border: $col-right-bd; padding: $col-right-pad; }

/*

## 1 Column

```
    <div class="wrapper">
        <div class="page">
            <div class="main-container col1-layout">
                <div class="main">
                    <div class="col-main">
                        Content
                    </div>
                </div>
            </div>
        </div>
    </div>
```

*/
.col1-layout {
    .col-main { float:none; width:auto; }
}


/* 

## 2 Columns (Left)

```
    <div class="wrapper">
        <div class="page">
            <div class="main-container col2-left-layout">
                <div class="main">
                    <div class="col-main">
                        Content
                    </div>
                    <div class="col-left sidebar">Left Column</div>
                </div>
            </div>
        </div>
    </div>
```

*/
.col2-left-layout {
    .col-main { float:right; }
}

/*

## 2 Columns (Right)

```
    <div class="wrapper">
        <div class="page">
            <div class="main-container col2-right-layout">
                <div class="main">
                    <div class="col-main">
                        Content
                    </div>
                    <div class="col-right sidebar">Right</div>
                </div>
            </div>
        </div>
    </div>
```

*/
.col2-right-layout { 
    .col-main {}
}

/*

## 3 Columns

```
    <div class="wrapper">
        <div class="page">
            <div class="main-container col3-layout">
                <div class="main">
                    <div class="col-wrapper">
                        <div class="col-main">
                            Content
                        </div>
                        <div class="col-left sidebar">Left Column</div>
                    </div>
                    <div class="col-right sidebar">Right Column</div>
                </div>
            </div>
        </div>
    </div>
```

*/
.col3-layout {
    .col-main { 
        width: $page-col3-main-width; 
        margin-left: $page-col3-main-ml; 
    }
    .col-wrapper { 
        float:left; 
        width: $page-col3-wrap-width; 
        .col-main { float:right; }
    }
}