/*

# Breadcrumbs

## Variables

*/

$breadcrumbs-pad: 10px !default;
$breadcrumbs-margin: 0 0 10px !default;
$breadcrumbs-border: 1px solid #ddd !default;

/*

```
	<div class="breadcrumbs">
		<ul>
			<li class="home">
				<a title="Go to Home Page" href="#">Home</a>
				<span>/ </span>
			</li>
			<li class="category">
				<a title="" href="#">Sublink</a>
				<span>/ </span>
			</li>
			<li class="category">
				<a title="" href="#">Sublink</a>
				<span>/ </span>
			</li>
			<li class="product">
				<strong>Active</strong>
			</li>
		</ul>
	</div>
```

*/
.breadcrumbs { 
	padding: $breadcrumbs-pad;
	margin: $breadcrumbs-margin;
	border: $breadcrumbs-border;
	li { 
		display:inline; 
	}
}