/*

# Nav Bar

## Variables

*/

$menu-bd: 1px solid #ddd !default;
$menu-fz: 13px !default;
$menu-margin: 10px 0 !default;
$menu-pad: 5px 0 !default;
$menu-li-float: left !default;
$menu-li-ta: left !default;
$menu-link-active-color: #000 !default;
$menu-link-color: #888 !default;
$menu-link-disp: block !default;
$menu-link-fw: bold !default;
$menu-link-pad: 5px 10px !default;
$menu-link-td: none !default;
$menu-link-hover-color: #000 !default;
$menu-link-hover-td: none !default;
$menu-l2-bg: #fafafa !default;
$menu-l2-bd: 1px solid #ddd !default; 
$menu-l2-top: 25px !default; 
$menu-l2-width: 15em !default; 
$menu-l3-top: 7px !default;
$menu-l3-li-bdb: 1px solid #ddd !default;
$menu-l3-link-active-color: #000 !default;
$menu-l3-link-color: #888 !default;
$menu-l3-link-fw: normal !default;
$menu-l3-link-padding: 3px 9px !default;
$menu-l3-link-hover-color: #000 !default;
$menu-shown-sub-left: 100px !default;

/*

## Top Navigation

```
	<div class="nav-container">
		<ul id="nav">
			<li class="level0 nav-1 first level-top parent">
				<a class="level-top" href="#"><span>Furniture</span></a>
				<ul class="level0">
					<li class="level1 nav-1-1 first">
						<a href="#"><span>Living Room</span></a>
					</li>
					<li class="level1 nav-1-2 last">
						<a href=""><span>Bedroom</span></a>
					</li>
				</ul>
			</li>
			<li class="level0 nav-2 level-top">
				<a class="level-top" href="#"><span>Electronics</span></a>
			</li>
			<li class="level0 nav-3 active last level-top parent over">
				<a class="level-top over" href="#"><span>Apparel</span></a>
				<ul class="level0 shown-sub">
					<li class="level1 nav-3-1 first">
						<a href="#"><span>Shirts</span></a>
					</li>
					<li class="level1 nav-3-2 active parent over">
						<a href="#" class="over"><span>Shoes</span></a>
						<ul class="level1 shown-sub">
							<li class="level2 nav-3-2-1 first over">
								<a href="#" class="over"><span>Mens</span></a>
							</li>
							<li class="level2 nav-3-2-2 last">
								<a href="#"><span>Womens</span></a>
							</li>
						</ul>
					</li>
					<li class="level1 nav-3-3 last">
						<a href="#"><span>Hoodies</span></a></li>
				</ul>
			</li>
		</ul>
	</div>
```

Note: hovering on element Apparel > Shoes > Mens

*/

.nav-container {}
#nav { 

	// 1st Level

	border: $menu-bd; 
	font-size: $menu-fz;  
	margin: $menu-margin; 
	padding: $menu-pad;
	li { 
		float: $menu-li-float;
		position: relative;
		text-align: $menu-li-ta; 
		&.active, &.over {
			a {
				color: $menu-link-active-color;
			}
		}
		&.over { 
			z-index: 998;
		}
		&.parent {}
		ul {
			a {
				span { white-space:normal; }
			}
		}
	}
	a {
		color: $menu-link-color;
		display: $menu-link-disp; 
		float: left;
		font-weight: $menu-link-fw;
		padding: $menu-link-pad;
		text-decoration: $menu-link-td; 
		&:hover { 
			color: $menu-link-hover-color;
			text-decoration: $menu-link-hover-td;
		}
		span { 
			display: block; 
			white-space: nowrap; 
			cursor: pointer;
		}
	}

	// 2nd Level

	ul, div {
		background: $menu-l2-bg;
		border: $menu-l2-bd;
		left:-10000px; 
		position:absolute; 
		top: $menu-l2-top; 
		width: $menu-l2-width; 
	}
	div {
		ul {
			position: static; 
			width: auto; 
			border: none; 
		}
	}

	// 3rd Level

	ul {
		ul, div {
			top: 7px;
		}
		li {
			border-bottom: $menu-l3-li-bdb;
			float: none;
			&.active, &.over {
				> a { color: $menu-l3-link-active-color !important; }
			}
			&.last { border-bottom: 0; }

			a {
				color: $menu-l3-link-color !important; 
				float: none;
				font-weight: $menu-l3-link-fw; 
				padding: $menu-l3-link-padding; 
				&:hover { color: $menu-l3-link-hover-color !important; }
			}
		}
	}

	// Shown Submenu

	li {
		ul, div {
			&.shown-sub {
				left: 0;
				z-index: 999;
			}
		}
		.shown-sub { 
			li {
				ul, div { 
					&.shown-sub { left: $menu-shown-sub-left; }
				}
			}
		}
	}

}
