/*
# Button

## Variables

*/

$reset-btn-font: 12px Arial, Helvetica, sans-serif !default;
$reset-btn-color: #000 !default;
$btn-height: 21px !default;
$btn-bg: transparent url(../images/bkg_button.gif) 0 0 no-repeat !default;
$btn-pad: 0 0 0 8px !default;
$btn-font: bold 12px/21px Arial, Helvetica, sans-serif !default;
$btn-ta: center !default;
$btn-color: #fff !default;
$btn-in-bgp: 100% 0 !default;
$btn-in-pad: 0 12px 0 4px !default;

/*

```
	<button class="button" type="button"><span><span>Button</span></span></button>
	<!-- Disabled -->
	<button class="button disabled" type="button"><span><span>Disabled</span></span></button>
	<!-- Add to Cart button -->
	<button class="button btn-cart" type="button"><span><span>Add to Cart</span></span></button>
	<!-- Place order button -->
	<button class="button btn-checkout" type="submit"><span><span>Place Order</span></span></button>
	<!-- Proceed to checkout button -->
	<button class="button btn-proceed-checkout btn-checkout" type="button"><span><span>Proceed to Checkout</span></span></button>
```

*/


button { 
	font: $reset-btn-font;
	vertical-align:middle;
	color: $reset-btn-color;
	&.button { 
		overflow:visible;
		width:auto;
		border:0;
		padding:0;
		margin:0;
		background:transparent;
		cursor:pointer;
		span { 
			float:left;
			height: $btn-height;
			background: $btn-bg;
			padding: $btn-pad;
			font: $btn-ta;
			text-align: $btn-ta;
			white-space:nowrap;
			color: $btn-color;
			span { 
				background-position: $btn-in-bgp;
				padding: $btn-in-pad;
			}
		}
	}
	&.disabled {
		span {}
	}
	.btn-checkout {
		&.no-checkout {}
		span {}
	}
}