/* 

# Form Elements 

## Variables

*/
$input-bg: #fff !default;
$input-bd: 1px solid #ddd !default;
$input-color: #000 !default;
$input-font: 12px Arial, Helvetica, sans-serif !default;
$input-va: middle !default; 
$input-text-pad: 2px !default;
$input-sel-pad: 1px !default;
$input-opt-pr: 10px !default;
$input-multi-bdb: 1px solid #ddd !default;
$input-multi-pad: 2px 5px !default; 
$input-qty-width: 2.5em !default;
$input-box-mr: 3px !default;
$input-ctrl-box-mr: 6px !default;

$fldset-bd: 1px solid #ddd !default;
$fldset-bg: #fefefe !default;
$fldset-pad: 22px 25px 12px 33px !default;
$fldset-margin: 28px 0 !default;
$fldset-leg-fw: bold !default;
$fldset-leg-fz: 13px !default;
$fldset-leg-bd: 1px solid #fefefe !default;
$fldset-leg-bg: #dedede !default;
$fldset-leg-color: #333 !default;
$fldset-leg-margin: -33px 0 0 -10px !default;
$fldset-leg-pad: 0 8px !default;

$form-item-margin: 0 0 8px !default; 
$form-control-box-mr: 6px !default;
$form-wide-iptbox-width: 535px !default;
$form-wide-text-width: 529px !default;
$form-wide-sel-width: 535px !default;
$form-addrow-bdt: 1px solid #ccc !default;
$form-addrow-mt: 10px !default;
$form-addrow-pt: 7px !default;
$form-addrow-btn-margin: 5px 0 0 !default;
$form-label-color: #111 !default;
$form-label-fw: bold !default;
$form-req-fs: normal !default;
$form-req-color: #eb340a !default;
$form-req-top: 0 !default;
$form-req-right: -8px !default;
$form-field-width: 275px !default;
$form-iptbox-width: 260px !default;
$form-text-width: 254px !default;
$form-sel-width: 260px !default;
$form-range-width: 74px !default;

$form-name-prefix-width: 65px !default;
$form-name-prefix-sel-width: 55px !default;
$form-name-prefix-text-width: 49px !default;
$form-name-suffix-width: 65px !default;
$form-name-suffix-sel-width: 55px !default;
$form-name-suffix-text-width: 49px !default;
$form-name-middle-width: 70px !default;
$form-name-middle-text-width: 49px !default;
$form-name-prefix-middle-width: 140px !default;
$form-name-prefix-middle-text-width: 124px !default;
$form-name-prefix-middle-suffix-width: 205px !default;
$form-name-prefix-middle-suffix-text-width: 189px !default;
$form-name-prefix-suffix-firstname-width: 210px !default;
$form-name-prefix-suffix-lastname-width: 205px !default;
$form-name-prefix-suffix-text-width: 189px !default;
$form-name-prefix-firstname-width: 210px !default;
$form-name-middlename-firstname-width: 210px !default;
$form-name-default-width: 205px !default;
$form-name-default-text-width: 189px !default;

$form-dob-def-width: 85px !default;
$form-dob-def-text-width: 74px !default;
$form-dob-label-fz: 10px !default;
$form-dob-label-fw: normal !default;
$form-dob-label-color: #888 !default;
$form-dob-daymo-width: 60px !default;
$form-dob-daymo-text-width: 46px !default;
$form-dob-year-width: 140px !default;
$form-dob-year-text-width: 134px !default;

$btn-set-margin: 5px 0 0 !default;
$btn-set-pad: 5px !default;
$btn-set-bd: 1px solid #ddd !default;
$btn-set-req-margin: 0 0 5px !default;
$req-fz:10px !default;
$req-ta: right !default;
$req-color: #f00 !default;

$val-fail-bd: 1px dashed #f00 !default;
$val-fail-bg: #faebe7 !default;
$val-adv-mh: 13px !default;
$val-adv-margin: 3px 0 0 !default;
$val-adv-pl: 17px !default;
$val-adv-fz: 10px !default;
$val-adv-lh: 13px !default;
$val-adv-bg: url(../images/validation_advice_bg.gif) 2px 1px no-repeat !default;
$val-adv-color: #f00 !default;

/*

## Generic Styling

*/
input, select, textarea { 
	font: $input-font; 
	vertical-align: $input-va; 
	color: $input-color;
}
input.input-text, select, textarea { 
	background: $input-bg; 
	border: $input-bd;
}
input.input-text, textarea { padding: $input-text-pad; }
select { 
	padding: $input-sel-pad; 
	option { padding-right: $input-opt-pr; }
	&.multiselect {
		option { 
			border-bottom: $input-multi-bdb; 
			padding: $input-multi-pad; 
			&:last-child { border-bottom: 0; }
		}
	}
}
textarea { overflow:auto; }

input {
	&.qty { width: $input-qty-width !important; }
	&.radio, &.checkbox { margin-right: $input-box-mr;  }
}

p.control input.radio, 
p.control input.checkbox {
	margin-right: $input-ctrl-box-mr;
}

/*

## Fieldsets

Used to break down and encapsulate form lists with appropriate legends.

```	
    <div class="fieldset">
        <h2 class="legend">Personal Information</h2>
        [FORM_LIST]
    </div>
    <div class="fieldset">
        <h2 class="legend">Login Information</h2>
        [FORM_LIST]
        [BUTTON_SET]
    </div>
```

*/

.fieldset { 
	border: $fldset-bd; 
	background: $fldset-bg; 
	padding: $fldset-pad; 
	margin: $fldset-margin; 
	.legend { 
		float: left;
		font-weight: $fldset-leg-fw;
		font-size: $fldset-leg-fz;
		border: $fldset-leg-bd;
		background: $fldset-leg-bg;
		color: $fldset-leg-color;
		margin: $fldset-leg-margin;
		padding: $fldset-leg-pad;
		position: relative;
	}
}


/* 

## Form lists 

Generic form lists used site wide

```
	<ul class="form-list">
	    <li>
	        <label>Text Input</label>
	        <div class="input-box">
	            <input type="text" class="input-text" value="">
	        </div>
	    </li>
		<li>
            <label>Select</label>
			<div class="input-box">
				<select>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
				</select>
			</div>
		</li>
		<li>
            <label>Multiselect</label>
			<div class="input-box">
				<select size="4" multiple="multiple" class="multiselect">
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
					<option>Option</option>
				</select>
			</div>
		</li>
		<li>
            <label>Textarea</label>
			<div class="input-box">
				<textarea class="input-text"></textarea>
			</div>
		</li>
		<li>
			<label>Range</label>
			<div class="input-range">
				<input type="text" maxlength="128" class="input-text" id="price" value="">
				<span class="separator">-</span>
				<input type="text" maxlength="128" class="input-text" value="">
				<small>(Unit/Currency)</small>
			</div>
        </li>
	    <li class="fields">
	        <div class="field">
	            <label class="required"><em>*</em>Split Text Field</label>
	            <div class="input-box">
	                <input type="text" class="input-text required-entry" value="">
	            </div>
	        </div>
	        <div class="field">
	            <label class="required"><em>*</em>Split Text Field</label>
	            <div class="input-box">
	                <input type="text" class="input-text required-entry" value="">
	            </div>
	        </div>
	    </li>
	    <li class="wide">
	        <label>Wide Input</label>
	        <div class="input-box">
	            <input type="text" class="input-text" value="">
	        </div>
	    </li>
	    <li class="wide">
	        <label>Wide Select</label>
	        <div class="input-box">
	            <select>
					<option>Option</option>
					<option>Option</option>
	            </select>
	        </div>
	    </li>
	    <li class="wide">
	        <label class="required"><em>*</em>Wide Texarea</label>
	        <div class="input-box">
	            <textarea rows="3" cols="5" class="required-entry input-text"></textarea>
	        </div>
	    </li>
	    <li class="control">
	    	<input class="checkbox" type="checkbox" checked="checked" value="">
			<label>Check box</label>
	    </li>
	    <li class="control">
			<input class="radio" type="radio" value="value">
			<label>Radio box</label>
	    </li> 
	</ul>
```

*/

.form-list {

	li { 
		margin: $form-item-margin;
		&.control {
			label { float:none; }
			input { 
				&.radio, &.checkbox { margin-right: $form-control-box-mr; }
			}
			.input-box { 
				clear:none; 
				display:inline; 
				width:auto; 
			}
		}
		&.wide {
			.input-box { width: $form-wide-iptbox-width; }
			input { 
				&.input-text { width: $form-wide-text-width; } 
			}
			textarea { width: $form-wide-text-width; }
			select { width: $form-wide-sel-width; }
		}
		&.additional-row { 
			border-top: $form-addrow-bdt; 
			margin-top: $form-addrow-mt; 
			padding-top: $form-addrow-pt; 
			.btn-remove { float:right; margin: $form-addrow-btn-margin; }
		}
	}

	label {
		float: left;
		color: $form-label-color;
		font-weight: $form-label-fw;
		position: relative;
		z-index: 0;
		&.required {
			em {
				float:right; 
				font-style: $form-req-fs; 
				color: $form-req-color; 
				position:absolute; 
				top: $form-req-top; 
				right: $form-req-right;
			}
		}
	}
	input {
		&.input-text { width: $form-text-width; }
	}
	textarea { width: $form-text-width; height:10em; }
	select { width: $form-sel-width; }

	.field { float:left; width: $form-field-width; }
	.input-box { display:block; clear:both; width: $form-iptbox-width; }
	.input-range { 
		input.input-text { width: $form-range-width; }
	}	
	
}

/*

### Customer Speicifc Form Elements

These can be enabled under System->Configuration->Customer Configuration->Name and Address Options

Outer class changes based on what is enabled possible combinations:
- `.customer-name-prefix`
- `.customer-name-suffix`
- `.customer-name-prefix-suffix`
- `.customer-name-prefix-middlename`
- `.customer-name-middlename-suffix`
- `.customer-name-prefix-middlename-suffix`

```
	<ul class="form-list">
		<li class="fields">
			<div class="customer-name-prefix-middlename-suffix">
			    <div class="field name-prefix">
			        <label for="prefix">Prefix</label>
			        <div class="input-box">
                    	<select>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option selected="selected" value=""></option>
                        </select>
                    </div>
			    </div>
			    <div class="field name-firstname">
			        <label>First Name</label>
			        <div class="input-box">
			            <input type="text" class="input-text" value="">
			        </div>
			    </div>
			    <div class="field name-middlename">
			        <label>Middle Name/Initial</label>
			        <div class="input-box">
			            <input type="text" class="input-text" value="">
			        </div>
			    </div>
			    <div class="field name-lastname">
			        <label>Last Name</label>
			        <div class="input-box">
			            <input type="text" class="input-text" value="">
			        </div>
			    </div>
			    <div class="field name-suffix">
			        <label>Suffix</label>
			        <div class="input-box">
			            <input type="text" class="input-text" value="">
			        </div>
			    </div>
			</div>
		</li>
	</ul>
```

*/

.form-list {
	.customer-name-prefix .input-box,
	.customer-name-suffix .input-box,
	.customer-name-prefix-suffix .input-box,
	.customer-name-prefix-middlename .input-box,
	.customer-name-middlename-suffix .input-box,
	.customer-name-prefix-middlename-suffix .input-box { width:auto; }

	.name-prefix { 
		width: $form-name-prefix-width;
		select { width: $form-name-prefix-sel-width; }
		input.input-text { width: $form-name-prefix-text-width; }
	}

	.name-suffix { 
		width: $form-name-suffix-width;
		select { width: $form-name-suffix-sel-width; }
		input.input-text { width: $form-name-suffix-text-width; }
	}

	.name-middlename { 
		width: $form-name-middle-width;
		input.input-text { width: $form-name-middle-text-width; }
	}

	.customer-name-prefix-middlename,
	.customer-name-prefix-middlename-suffix {
		.name-firstname { 
			width: $form-name-prefix-middle-width;
			input.input-text { width: $form-name-prefix-middle-text-width; }
		}
	}

	.customer-name-prefix-middlename-suffix {
		.name-lastname { 
			width: $form-name-prefix-middle-suffix-width;
			input.input-text { width: $form-name-prefix-middle-suffix-text-width; }
		}
	}

	.customer-name-prefix-suffix {
		.name-firstname { width: $form-name-prefix-suffix-firstname-width; }
		.name-lastname { width: $form-name-prefix-suffix-lastname-width; }
		.name-firstname, .name-lastname {
			input.input-text { width: $form-name-prefix-suffix-text-width; }
		}
	}

	.customer-name-prefix {
		.name-firstname { width: $form-name-prefix-firstname-width; }
	} 

	.customer-name-middlename {
		.name-firstname { width: $form-name-middlename-firstname-width; }
	}

	.customer-name-middlename .name-firstname,
	.customer-name-middlename-suffix .name-firstname,
	.customer-name-suffix .name-lastname,
	.customer-name-middlename-suffix .name-lastname { width: $form-name-default-width; }

	.customer-name-prefix .name-firstname input.input-text,
	.customer-name-middlename .name-firstname input.input-text,
	.customer-name-middlename-suffix .name-firstname input.input-text,
	.customer-name-suffix .name-lastname input.input-text,
	.customer-name-middlename-suffix .name-lastname input.input-text { width: $form-name-default-text-width; }
}

/*

#### DOB

```
	<ul class="form-list">
		<li>
			<label for="month">Date of Birth</label>
			<div class="input-box customer-dob">
		    	<div class="dob-day">
		             <input type="text" class="input-text" value="">
		             <label>DD</label>
		        </div>
		        <div class="dob-month">
		             <input type="text" class="input-text" value="">
		             <label>MM</label>
		        </div>
		        <div class="dob-year">
		             <input type="text" class="input-text" value="">
		             <label>YYYY</label>
		        </div>    			    
			</div>
		</li>
	</ul>
```

*/
.form-list {
	.customer-dob {
		.dob-month, .dob-day, .dob-year { 
			float:left; 
			width: $form-dob-def-width; 
		}
		input {
			&.input-text { 
				display:block; 
				width: $form-dob-def-text-width;
			}
		}
		label { 
			font-size: $form-dob-label-fz; 
			ont-weight: $form-dob-label-fw; 
			color: $form-dob-label-color; 
		}
		.dob-day, .dob-month { 
			width: $form-dob-daymo-width; 
			input.input-text { width: $form-dob-daymo-text-width; }
		}
		.dob-year { 
			width: $form-dob-year-width; 
			input.input-text { width: $form-dob-year-text-width; }
		}
	}
}


/*
## Button Sets

Usually appends to a `.form-list` element providing actions for the form.

```
	<div class="buttons-set">
		<p class="required">* Required Fields</p>
		<p class="back-link"><a href="#"><small>« </small>Back</a></p>
		<button type="button" class="button"><span><span>Action</span></span></button>
		<button type="submit" class="button"><span><span>Submit</span></span></button>
	</div>
```

*/
.buttons-set { 
	clear:both; 
	margin: $btn-set-margin; 
	padding: $btn-set-pad; 
	border: $btn-set-bd; 
	.back-link { float:left; }
	button.button { float:right; }
	p.required { margin: $btn-set-req-margin; }
}
.buttons-set-order {}
p.required { 
	font-size: $req-fz; 
	text-align: $req-ta; 
	color: $req-color;
}

/* 
## Form Validation 

On valid input appends `.validation-passed` to the input element.

On invalid input appends class `.validation-failed` to the input element and adds `.validation-advice` containing the validation message.

```
	<ul class="form-list">
		<li class="fields">
			<div class="field">
		        <label class="required"><em>*</em>Failed Validation</label>
		        <div class="input-box">
		            <input type="text" class="input-text required-entry validation-failed" value="">
		            <div class="validation-advice">This is a required field.</div>
		        </div>
			</div>
			<div class="field">
		        <label class="required"><em>*</em>Failed Validation</label>
		        <div class="input-box">
		            <input type="text" class="input-text required-entry validation-failed" value="">
		            <div class="validation-advice">This is a required field.</div>
		        </div>
		    </div>
	    </li>
	</ul>
```

*/
.validation-failed { 
	border: $val-fail-bd !important;  
	background: $val-fail-bg !important;  
}
.validation-passed {}
.validation-advice {
	clear:both;
	min-height: $val-adv-mh;
	margin: $val-adv-margin;
	padding-left: $val-adv-pl;
	font-size: $val-adv-fz;
	line-height: $val-adv-lh;
	background: $val-adv-bg;
	color: $val-adv-color;
}

/* Expiration date and CVV number validation fix */
.v-fix { 
	float:left;
	.validation-advice { 
		display:block; 
		width:12em; 
		margin-right:-12em; 
		position:relative;
	}
}