/* 

# Data Table 

## Variables

*/

$table-width: 100% !default;
$table-thead-bgc: #f2f2f2 !default;
$table-tbody-odd-cell-bdw: 0 1px !default;
$table-tbody-even-bgc: #f6f6f6 !default;
$table-tbody-even-cell-bdw: 0 1px !default;
$table-row-even-bgc: #f6f6f6 !default;
$table-th-pad: 5px !default;
$table-th-bd: 1px solid #ddd !default;
$table-th-fw: bold !default;
$table-td-pad: 5px !default;
$table-td-bd: 1px solid #ddd !default;
$table-label-fw: bold !default;
$table-label-bgc: #f6f6f6 !default;

/*
## Horizontal Labels

```
	<table class="data-table">
	    <thead>
	        <tr class="first last">
	            <th>Label</th>
	            <th>Label</th>
	            <th>Label</th>
	            <th>Label</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr class="first odd">
	            <td>Value</td>
	            <td>Value</td>
	            <td>Value</td>
	            <td class="last">Value</td>
	        </tr>
	        <tr class="even">
	            <td>Value</td>
	            <td>Value</td>
	            <td>Value</td>
	            <td class="last">Value</td>
	        </tr>
	        <tr class="last odd">
	            <td>Value</td>
	            <td>Value</td>
	            <td>Value</td>
	            <td class="last">Value</td>
	        </tr>
	    </tbody>
	</table>
```

## Vertical Labels

```
	<table class="data-table">
	    <colgroup>
	        <col width="25%">
	        <col>
	    </colgroup>
	    <tbody>
	        <tr class="first odd">
	            <th class="label">Label</th>
	            <td class="data last">Value</td>
	        </tr>
	        <tr class="first even">
	            <th class="label">Label</th>
	            <td class="data last">Value</td>
	        </tr>
	        <tr class="last odd">
	            <th class="label">Label</th>
	            <td class="data last">Value</td>
	        </tr>
	    </tbody>
	</table>
```

*/

.data-table { 
	width:100%; 

	thead { background-color: $table-thead-bgc; }
	tbody {
		&.odd {
			td & { border-width: $table-tbody-odd-cell-bdw; }
		}
		&.even { 
			background-color: $table-tbody-even-bgc; 
			td { border-width: $table-tbody-even-cell-bdw; }
		}
		&.odd, &.even {
			tr {
				&.border {
					td {
						border-bottom-width:1px;
					}
				}
			}
		}
	}
	tfoot {}

	tr {
		&.first {}
		&.last {}
		&.odd {}
		&.even { background-color: $table-row-even-bgc; }
	}

	th { 
		padding: $table-th-pad;
		border: $table-th-bd;
		font-weight: $table-th-fw;
		white-space:nowrap;
		.tax-flag {
			white-space:nowrap; 
			font-weight:normal;
		}
	}
	td { 
		padding: $table-td-pad; 
		border: $table-td-bd;
		.value {}
	}

	td, th { 
		&.label {
			font-weight: $table-label-fw; 
			background-color: $table-label-bgc;
		}
	}

}