/* 

# Mini Products List 

## Variables

*/
$miniprod-li-pad: 5px 0 !default;
$minprod-image-width: 50px !default;
$minprod-image-pad: 5px !default;
$minprod-image-bd: 1px solid #ddd !default;
$minprod-det-ml: 75px !default;
$minprod-title-fz: 1em !default;
$minprod-title-fw: bold !default;
$minprod-title-margin: 0 !default;

/*

```
	<ol class="mini-products-list">
		<li class="item odd">
            <a class="product-image" href="#">
            	<img width="50" height="50" src="http://placekitten.com/50/50">
            </a>
        	<div class="product-details">
                <p class="product-name">
                	<a href="#">Product Name</a>
                </p>
        		<strong>1</strong> x <span class="price">£22.00</span>
        		<div class="truncated">
          			<div class="truncated_full_value">
            			<dl class="item-options">
                            <dt>Size</dt>
                			<dd>Large</dd>
                        </dl>
          			</div>
        			<a class="details" onclick="return false;" href="#">Details</a>
        		</div>
            </div>
		</li>
		<li class="item even last">
            <a class="product-image" href="#">
            	<img width="50" height="50" src="http://placekitten.com/50/50">
            </a>
        	<div class="product-details">
                <p class="product-name">
                	<a href="#">Product Name</a>
                </p>
        		<strong>1</strong> x <span class="price">£22.00</span>
        		<div class="truncated">
          			<div class="truncated_full_value">
            			<dl class="item-options">
                            <dt>Size</dt>
                			<dd>Large</dd>
                        </dl>
          			</div>
        			<a class="details" onclick="return false;" href="#">Details</a>
        		</div>
            </div>
		</li>
	</ol>
```

*/
.mini-products-list {
	li { padding: $miniprod-li-pad; }
	.product-image { 
		float:left; 
		width: $minprod-image-width; 
		padding: $minprod-image-pad; 
		border: $minprod-image-bd; 
	}
	.product-details { 
		margin-left: $minprod-det-ml;
		h4 { 
			font-size: $minprod-title-fz; 
			font-weight: $minprod-title-fw; 
			margin: $minprod-title-margin;
		}
	}	
	.block-cart & {
		.product-details {
			.product-name, .nobr small { word-wrap:break-word; }
			.nobr { white-space:normal !important; }
		}
	}
}