/* 

# One Page Checkout 

## Variables

*/
$opc-bdb: 1px solid #ddd !default;
$opc-sec-bd: 1px solid #ddd !default;
$opc-sec-bdb: 0 !default;
$opc-pls-wait-height: 21px !default;
$opc-pls-wait-lh: 21px !default;
$opc-title-bgc: #f6f6f6 !default;
$opc-title-pad: 0 5px !default;
$opc-title-ta: right !default;
$opc-title-num-lh: 22px !default;
$opc-title-num-mr: 5px !default;
$opc-title-link-dis: none !default;
$opc-title-active-bgc: #ccc !default;
$opc-title-edit-disp: none !default;
$opc-step-bdt: 1px solid #ddd !default;
$opc-step-pad: 10px !default;
$opc-step-tip-right: 10px !default;

$blk-prog-label-fw: bold !default;
$blk-prog-complete-bgc: #f6f6f6 !default;

$mchk-tip-top: 50% !default;
$mchk-tip-mt: -120px !default;
$mchk-tip-right: 10px !default;
$mchk-gtot-fz: 1.5em !default;
$mchk-gtot-ta: right !default;

$chk-prog-pad: 0 50px !default;
$chk-prog-margin: 10px 0 !default;
$chk-prog-item-width: 20% !default;
$chk-prog-item-bdt: 5px solid #ccc !default;
$chk-prog-item-ta: center !default;
$chk-prog-item-color: #ccc !default;
$chk-prog-item-active-bdtc: #000 !default;
$chk-prog-item-active-color: #000 !default;

$chk-spmeth-label-fw: bold !default;
$chk-spmeth-price-fw: bold !default;
$chk-spmeth-frmli-pl: 20px !default;
$chk-spmeth-selmonth-width: 150px !default;
$chk-spmeth-selmonth-mr: 10px !default;
$chk-spmeth-selyear-width: 96px !default;
$chk-spmeth-iptcvv-width: 3em !default;
$chk-spmeth-checkli-margin: 0 0 5px !default;
$chk-spmeth-checklbl-width: 135px !default;
$chk-spmeth-checklbl-pr: 10px !default;
$chk-spmeth-checklbl-ta: right !default;
$chk-spmeth-centlog-mr: 3px !default;
$chk-spmeth-relamt-margin: 0.5em 0.1em !default;
$chk-spmeth-relamt-btn-margin: 5px 10px 0 0 !default;

$chk-pls-wait-mr: 5px !default;
$chk-cvv-ml: 5px !default;
$chk-cent-auth-bd: 1px solid #ddd !default;
$chk-cent-auth-bg: #fff !default;
$chk-cent-auth-iframe-width: 99% !default;
$chk-cent-auth-iframe-height: 400px !default;

$chk-tip-bd: 1px solid #ddd !default;
$chk-tip-bgc: #f6f6f6 !default;
$chk-tip-pad: 5px !default;
$chk-tip-close-margin: 0 0 0 auto !default;
$chk-tip-close-width: 15px !default;
$chk-tip-close-height: 15px !default;
$chk-tip-close-bg: url(../images/btn_window_close.gif) 100% 0 no-repeat !default;
$chk-tip-close-ta: left !default;
$chk-tip-cnt-pad: 5px !default;

$chk-agree-item-margin: 10px 0 !default;
$chk-agree-cont-bd: 1px solid #ddd !default;
$chk-agree-cont-bgc: #f6f6f6 !default;
$chk-agree-cont-pad: 5px !default;
$chk-agree-cont-height: 10em !default;
$chk-agree-agree-pad: 6px !default;

$gftmsg-form-bd: 1px solid #ddd !default;
$gftmsg-form-bgc: #f5f5f5 !default;
$gftmsg-form-item-margin: 0 0 10px !default;
$gftmsg-form-img-width: 75px !default;
$gftmsg-form-img-margin: 0 0 7px !default;
$gftmsg-form-num-margin: 0 !default;
$gftmsg-form-num-fw: bold !default;
$gftmsg-form-num-ta: center !default;
$gftmsg-form-det-ml: 90px !default;
$gftmsg-link-bg: url(../images/bkg_collapse.gif) 0 4px no-repeat !default;
$gftmsg-link-pl: 20px !default;
$gftmsg-link-exp-bgp: 0 -53px !default;


/*
## Checkout Steps

```
	<ol id="checkoutSteps" class="opc">
	    <li class="section allow" id="opc-login">
	        <div class="step-title">
	            <span class="number">1</span>
	            <h2>Checkout Method</h2>
	            <a href="#">Edit</a>
	        </div>
	        <div style="display: none;" class="step a-item" id="checkout-step-login"></div>
	    </li>
	    <li class="section allow active" id="opc-billing">
	        <div class="step-title">
	            <span class="number">2</span>
	            <h2>Billing Information</h2>
	            <a href="#">Edit</a>
	        </div>
	        <div style="" class="step a-item" id="checkout-step-billing">
	            [Current Step Content]
				<div class="buttons-set">
			        <p class="required">* Required Fields</p>
			        <button class="button" title="Continue" type="button"><span><span>Continue</span></span></button>
			        <span class="please-wait">
			            <img class="v-middle" title="Loading next step..." alt="Loading next step..." src="/styleguide/assets/images/opc-ajax-loader.gif">Loading next step...
			        </span>
			    </div>
	        </div>
	    </li>
	    <li class="section" id="opc-shipping">
	        <div class="step-title">
	            <span class="number">3</span>
	            <h2>Shipping Information</h2>
	            <a href="#">Edit</a>
	        </div>
	        <div style="display:none;" class="step a-item" id="checkout-step-shipping">
	</div>
	    </li>
	    <li class="section" id="opc-shipping_method">
	        <div class="step-title">
	            <span class="number">4</span>
	            <h2>Shipping Method</h2>
	            <a href="#">Edit</a>
	        </div>
	        <div style="display:none;" class="step a-item" id="checkout-step-shipping_method"></div>
	    </li>
	    <li class="section" id="opc-payment">
	        <div class="step-title">
	            <span class="number">5</span>
	            <h2>Payment Information</h2>
	            <a href="#">Edit</a>
	        </div>
	        <div style="display:none;" class="step a-item" id="checkout-step-payment"></div>
	    </li>
	    <li class="section" id="opc-review">
	        <div class="step-title">
	            <span class="number">6</span>
	            <h2>Order Review</h2>
	            <a href="#">Edit</a>
	        </div>
	        <div style="display:none;" class="step a-item" id="checkout-step-review"></div>
	    </li>
	</ol>
```

*/

.opc { 
	border-bottom: $opc-bdb; 
	position:relative;
	li {
		&.section { 
			border: $opc-sec-bdb; 
			border-bottom: $opc-sec-bdb;
		}
	}
	.buttons-set {
		&.disabled {
			button.button { display:none; }
		}
		.please-wait { 
			height: $opc-pls-wait-height; 
			line-height: $opc-pls-wait-lh; 
		}
	}
	.step-title { 
		background-color: $opc-title-bgc; 
		padding: $opc-title-pad; 
		text-align: $opc-title-ta;
		.number { 
			float:left; 
			line-height: $opc-title-num-lh; 
			margin-right: $opc-title-num-mr;
		}
		h2 { float:left; }
		a { 
			display: $opc-title-edit-disp; 
			float:right;
		}
	}
	
	.allow {
		.step-title { cursor: pointer; }
	}
	.active {
		.step-title { background-color: $opc-title-active-bgc; cursor:default; }
	}
	.step {
		border-top: $opc-step-bdt; 
		padding: $opc-step-pad; 
		position: relative;
		.tool-tip { 
			right: $opc-step-tip-right;
		}
	}
	.order-review {
		.authentication {}
		.warning-message {}
	}

}

/*

## Progress Block

```
	<div class="block block-progress opc-block-progress">
	    <div class="block-title">
	        <strong><span>Your Checkout Progress</span></strong>
	    </div>
	    <div class="block-content">
	        <dl>
	            <div id="billing-progress-opcheckout">
	                <dt class="complete">
	                    Billing Address 
	                    <span class="changelink"> 
	                        <span class="separator">|</span> 
	                        <a href="#billing">Change</a>
	                    </span>
	                </dt>
	                <dd class="complete">
	                    <address>Customer Name<br>Address Line 1<br>Address Line 2<br>City,  State, Zip<br>Country<br>T: Telephone</address>
	                </dd>
	            </div>
	            <div id="shipping-progress-opcheckout">
	                <dt class="complete">
	                    Shipping Address 
	                    <span class="changelink">
	                        <span class="separator">|</span> 
	                        <a href="#payment">Change</a>
	                    </span>
	                </dt>
	                <dd class="complete">
	                    <address>Customer Name<br>Address Line 1<br>Address Line 2<br>City,  State, Zip<br>Country<br>T: Telephone</address>
	                </dd>
	            </div>
	            <div id="shipping_method-progress-opcheckout">
	                <dt class="complete">
	                    Shipping Method
	                    <span class="changelink">
	                        <span class="separator">|</span>
	                        <a href="#shipping_method">Change</a>
	                    </span>
	                </dt>
	                <dd class="complete">
	                    Flat Rate - Fixed
	                    <span class="price">£10.00</span>            
	                </dd>
	            </div>
	            <div id="payment-progress-opcheckout">
	                <dt class="complete">
	                    Payment Method
	                    <span class="changelink">
	                        <span class="separator">|</span>
	                        <a href="#payment">Change</a>
	                    </span>
	                </dt>
	                <dd class="complete">
	                    <p>Check / Money order</p>
	                </dd>
	            </div>
	        </dl>
	    </div>
	</div>
```

*/

.block-progress {
	dt { font-weight: $blk-prog-label-fw; }
	dt, dd {
		.complete { background-color: $blk-prog-complete-bgc; }
	}
}


/* 

## Multiple Addresses Checkout 

*/

.multiple-checkout { 
	position:relative; 
	.tool-tip { 
		top: $mchk-tip-top; 
		margin-top: $mchk-tip-mt; 
		right:$mchk-tip-right;
	}
	.grand-total { 
		font-size: $mchk-gtot-fz; 
		text-align: $mchk-gtot-ta;
		big {}
		.price {}
	}
}

/*

### Progress

```
	<ul class="checkout-progress">
	    <li title="Select Addresses" class="first"><span>Select Addresses</span></li>
	    <li title="Shipping Information"><span>Shipping Information</span></li>
	    <li class="active" title="Billing Information"><span>Billing Information</span></li>
	    <li title="Place Order"><span>Place Order</span></li>
	    <li title="Order Success" class="last"><span>Order Success</span></li>
	</ul>
```

*/
.checkout-progress { 
	padding: $chk-prog-pad; 
	margin: $chk-prog-margin; 
	li { 
		float:left; 
		width: $chk-prog-item-width; 
		border-top: $chk-prog-item-bdt; 
		text-align: $chk-prog-item-ta; 
		color: $chk-prog-item-ta; 
		&.active { 
			border-top-color: $chk-prog-item-active-bdtc; 
			color: $chk-prog-item-active-color;
		}
	}
}




/*

## Common Checkout Styles

### Shipping and Payment methods 

```
	<!-- Shipping Methods -->
	<dl class="sp-methods">
		<dt>Free Shipping</dt>
		<dd>
			<ul>
				<li>
					<input type="radio" class="radio" id="s_method_freeshipping_freeshipping" value="freeshipping_freeshipping" name="shipping_method">
					<label for="s_method_freeshipping_freeshipping">Free<span class="price">£0.00</span></label>
				</li>
			</ul>
		</dd>
		<dt>Flat Rate</dt>
		<dd>
			<ul>
				<li>
					<input type="radio" class="radio" checked="checked" id="s_method_flatrate_flatrate" value="flatrate_flatrate" name="shipping_method">
					<label for="s_method_flatrate_flatrate">Fixed <span class="price">£10.00</span></label>
				</li>
			</ul>
		</dd>
	</dl>

	<!-- Payment Methods -->
	<dl class="sp-methods">
	    <dt>
	        <input type="radio" class="radio" title="PayPal Express Checkout" name="payment[method]" value="paypal_express" id="p_method_paypal_express" autocomplete="off">
	        <label for="p_method_paypal_express">
	            <img class="v-middle" alt="Acceptance Mark" src="https://fpdbs.paypal.com/dynamicimageweb?cmd=_dynamic-image&amp;buttontype=ecmark&amp;locale=en_GB">&nbsp;
	            <a href="">What is PayPal?</a>
	        </label>
	    </dt>
	    <dd>
	        <ul id="payment_form_paypal_express" class="form-list">
	            <li class="form-alt">You will be redirected to the PayPal website.</li>
	        </ul>
	    </dd>
	    <dt>
	        <input type="radio" class="radio" checked="checked" title="Check / Money order" name="payment[method]" value="checkmo" id="p_method_checkmo" autocomplete="off">
	        <label for="p_method_checkmo">Check / Money order </label>
	    </dt>
	    <dt>
	        <input type="radio" class="radio" title="Credit Card (saved)" name="payment[method]" value="ccsave" id="p_method_ccsave" autocomplete="off">
	        <label for="p_method_ccsave">Credit Card (saved) </label>
	    </dt>
	    <dd>
	        <ul id="payment_form_ccsave" class="form-list">
	            <li>
	                <label class="required" for="ccsave_cc_owner"><em>*</em>Name on Card</label>
	                <div class="input-box">
	                    <input type="text" value="" name="payment[cc_owner]" id="ccsave_cc_owner" class="input-text required-entry" title="Name on Card" disabled="" autocomplete="off">
	                </div>
	            </li>
	            <li>
	                <label class="required" for="ccsave_cc_type"><em>*</em>Credit Card Type</label>
	                <div class="input-box">
	                    <select class="required-entry validate-cc-type-select" title="Credit Card Type" name="payment[cc_type]" id="ccsave_cc_type" disabled="" autocomplete="off">
	                        <option value="">--Please Select--</option>
	                    </select>
	                </div>
	            </li>
	            <li>
	                <label class="required" for="ccsave_cc_number"><em>*</em>Credit Card Number</label>
	                <div class="input-box">
	                    <input type="text" value="" class="input-text validate-cc-number validate-cc-type" title="Credit Card Number" name="payment[cc_number]" id="ccsave_cc_number" disabled="" autocomplete="off">
	                </div>
	            </li>
	            <li>
	                <label class="required" for="ccsave_expiration"><em>*</em>Expiration Date</label>
	                <div class="input-box">
	                    <div class="v-fix">
	                        <select class="month validate-cc-exp required-entry" name="payment[cc_exp_month]" id="ccsave_expiration" disabled="" autocomplete="off">
	                            <option selected="selected" value="">Month</option>
	                        </select>
	                    </div>
	                    <div class="v-fix">
	                        <select class="year required-entry" name="payment[cc_exp_year]" id="ccsave_expiration_yr" disabled="" autocomplete="off">
	                            <option selected="selected" value="">Year</option>
	                        </select>
	                    </div>
	                </div>
	            </li>
	            <li>
			        <label class="required"><em>*</em>Card Verification Number</label>
			        <div class="input-box">
			            <div class="v-fix">
			                <input type="text" value="" name="payment[cc_cid]" class="input-text cvv required-entry validate-cc-cvn" title="Card Verification Number" autocomplete="off">
			            </div>
			            <a class="cvv-what-is-this" href="#">What is this?</a>
			        </div>
			    </li>
	        </ul>
	    </dd>
	</dl>
```

*/

.sp-methods  {
	dt { font-weight: $chk-spmeth-label-fw; }
	.price { font-weight: $chk-spmeth-price-fw; }
	.form-list { padding-left: $chk-spmeth-frmli-pl; }
	select.month { width: $chk-spmeth-selmonth-width; margin-right: $chk-spmeth-selmonth-mr; }
	select.year { width: $chk-spmeth-selyear-width; }
	input.cvv { width: $chk-spmeth-iptcvv-width !important; }
	.checkmo-list {
		li { margin: $chk-spmeth-checkli-margin; }
		label { width: $chk-spmeth-checklbl-width; padding-right: $chk-spmeth-checklbl-pr; text-align: $chk-spmeth-checklbl-ta; }
		address { float:left; }
	}
	.centinel-logos {
		a { margin-right: $chk-spmeth-centlog-mr; }
		img { vertical-align:middle; }
	}
	.release-amounts { 
		margin: $chk-spmeth-relamt-margin;
		button { float:left; margin: $chk-spmeth-relamt-btn-margin; }
	}
}

.please-wait { 
	float: right; 
	margin-right: $chk-pls-wait-mr; 
	img { vertical-align: middle; }
}
.cvv-what-is-this { cursor:help; margin-left: $chk-cvv-ml; }

.centinel {
	.authentication { 
		border: $chk-cent-auth-bd; 
		background: $chk-cent-auth-bg;
		iframe { 
			width: $chk-cent-auth-iframe-width; 
			height: $chk-cent-auth-iframe-height; 
			background: transparent !important; 
			margin: 0 !important; 
			padding: 0 !important; 
			border: 0 !important;
		}
	}
}

/* 

### Tooltip 

Used on the "What's This?" link next to CVV

```
	<div style="" id="payment-tool-tip" class="tool-tip">
	    <div class="btn-close"><a title="Close" href="#">Close</a></div>
	    <div class="tool-tip-content">
			[Tooltip Content]
	    </div>
	</div>
```

*/

.tool-tip { 
	border: $chk-tip-bd; 
	background-color: $chk-tip-bgc; 
	padding: $chk-tip-pad; 
	position:absolute; 
	z-index:9999;
	.btn-close { 
		text-align: right;
		a { 
			display: block; 
			margin: $chk-tip-close-margin; 
			width: $chk-tip-close-width; 
			height: $chk-tip-close-height; 
			background: $chk-tip-close-bg; 
			text-align: $chk-tip-close-ta; 
			text-indent: -999em; 
			overflow: hidden;
		}
	}
	.tool-tip-content { padding: $chk-tip-cnt-pad; }
}

/* 

### Checkout Agreements

```
	<ol class="checkout-agreements">
	    <li>
	        <div class="agreement-content">
	            Full agreement content
			</div>
	        <p class="agree">
	            <input type="checkbox" class="checkbox" title="Terms and Conditions (Checkbox Text)" value="1" name="agreement[1]" id="agreement-1">
	            <label for="agreement-1">Agreement Checkbox Text Value</label>
	        </p>
	    </li>
	</ol>
```

*/

.checkout-agreements {
	li {
		margin: $chk-agree-item-margin;
	}
	.agreement-content {
		border: $chk-agree-cont-bd;
		background-color: $chk-agree-cont-bgc;
		padding: $chk-agree-cont-pad;
		height: $chk-agree-cont-height;
		overflow: auto;
	}
	.agree {
		padding: $chk-agree-agree-pad;
	}
}

/* 

## Gift Messages 

```
	<div class="gift-messages">
	    <h3>Do you have any gift items in your order?</h3>
	    <p class="control">
	        <input type="checkbox" class="checkbox validation-passed" value="1" id="allow_gift_messages" name="allow_gift_messages">
	        <label for="allow_gift_messages">Add gift options.</label>
	    </p>
	</div>
	<div id="allow-gift-message-container" class="gift-messages-form" style="">
	    <div class="inner-box">
	        <h4>Gift Options for the Entire Order.</h4>
	        <p>
	            <input type="checkbox" class="checkbox validation-passed" value="1" name="allow_gift_messages_for_order">
	            <label>Add gift options for the Entire Order</label>
	        </p>
	        <div style="" id="allow-gift-messages-for-order-container" class="allow-gift-messages-for-order-container">
	            <p>You can leave this box blank if you do not wish to add a gift message for whole order.</p>
	            <ul class="form-list">
	                <li class="fields">
	                    <div class="field">
	                        <label>From</label>
	                        <div class="input-box">
	                            <input type="text" class="input-text" value="From Name" title="From">
	                        </div>
	                    </div>
	                    <div class="field">
	                        <label>To</label>
	                        <div class="input-box">
	                            <input type="text" class="input-text" value="To Name" title="To">
	                        </div>
	                    </div>
	                </li>
	                <li class="wide">
	                    <label>Message</label>
	                    <div class="input-box">
	                        <textarea cols="10" rows="5" title="Message" class="input-text giftmessage-area"></textarea>
	                    </div>
	                </li>
	            </ul>
	        </div>
	        <h4>Gift Options for Individual Items</h4>
	        <p>
	            <input type="checkbox" class="checkbox validation-passed" value="1" name="allow_gift_messages_for_items">
	            <label>Add gift options for Individual Items</label>
	        </p>
	        <div id="allow-gift-messages-for-items-container" style="">
	            <p>You can leave this box blank if you do not wish to add a gift message for the item.</p>
	            <ol>
	                <li class="item">
	                    <div class="product-img-box">
	                        <p class="product-image">
	                            <img width="75" height="75" title="Product Name" alt="Product Name" src="http://placekitten.com/75/75">
	                        </p>
	                        <p class="number">Item 1 of 1</p>
	                    </div>
	                    <div class="details">
	                        <div class="f-fix">
	                            <h5 class="product-name">Product Name</h5>
	                            <ul class="form-list">
	                                <li class="fields">
	                                    <div class="field">
	                                        <label>From</label>
	                                        <div class="input-box">
	                                            <input type="text" class="input-text" value="From Name" title="From">
	                                        </div>
	                                    </div>
	                                    <div class="field">
	                                        <label>To</label>
	                                        <div class="input-box">
	                                            <input type="text" class="input-text" value="To Name" title="To">
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="wide">
	                                    <label>Message</label>
	                                    <div class="input-box">
	                                        <textarea cols="40" rows="5" title="Message" class="input-text giftmessage-area" o></textarea>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </li>
	            </ol>
	        </div>
	    </div>
	</div>
```

*/
.gift-messages {}
.gift-messages-form {
	border: $gftmsg-form-bd;
	background-color: $gftmsg-form-bgc;
	position: relative;
	label {
		float: none !important;
		position: static !important;
	}
	h4 {}
	.whole-order {}
	.item {
		margin: $gftmsg-form-item-margin;
		.product-img-box {
			float: left;
			width: $gftmsg-form-img-width;
		}
		.product-image {
			margin: $gftmsg-form-img-margin;
		}
		.number {
			margin: $gftmsg-form-num-margin;
			font-weight: $gftmsg-form-num-fw;
			text-align: $gftmsg-form-num-ta;
		}
		.details {
			margin-left: $gftmsg-form-det-ml;
			.product-name {}
		}
	}
}

.gift-message-link { 
	display:block; 
	background: $gftmsg-link-bg; 
	padding-left: $gftmsg-link-pl; 
	&.expanded { background-position: $gftmsg-link-exp-bgp; }
}
.gift-message-row {
	.btn-close { float:right; }
}
.gift-message {
	dt {
		strong { font-weight: bold; } 
	}
}



/* 

## Generic Info Set 

Seems to be unused.

*/
.info-set {}


