/*

# Reset

## Variables

*/

$rst-body-bg: #fff !default;
$rst-body-color: #000 !default;
$rst-body-font: 12px/1.35 Arial, Helvetica, sans-serif !default;

$rst-link-color: #05c !default;

$rst-h-fw: bold !default;
$rst-h-lh: auto !default;
$rst-h1-fw: $rst-h-fw !default;
$rst-h1-lh: $rst-h-lh !default;
$rst-h1-size: 20px !default;
$rst-h2-fw: $rst-h-fw !default;
$rst-h2-lh: $rst-h-lh !default;
$rst-h2-size: 18px !default;
$rst-h3-fw: $rst-h-fw !default;
$rst-h3-lh: $rst-h-lh !default;
$rst-h3-size: 16px !default;
$rst-h4-fw: $rst-h-fw !default;
$rst-h4-lh: $rst-h-lh !default;
$rst-h4-size: 14px !default;
$rst-h5-fw: $rst-h-fw !default;
$rst-h5-lh: $rst-h-lh !default;
$rst-h5-size: 12px !default;
$rst-h6-fw: $rst-h-fw !default;
$rst-h6-lh: $rst-h-lh !default;
$rst-h6-size: 11px !default;

/*

## General

*/

* 			  { margin: 0; padding: 0; }

body          { background: $rst-body-bg; font: $rst-body-font; color: $rst-body-color; }

img           { border:0; vertical-align:top; }

a             { color:$rst-link-color; text-decoration:underline; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* 

## Headings 

*/
h1            { font-size: $rst-h1-size; font-weight: $rst-h1-fw; line-height: $rst-h1-lh; }
h2            { font-size: $rst-h2-size; font-weight: $rst-h2-fw; line-height: $rst-h2-lh; }
h3            { font-size: $rst-h3-size; font-weight: $rst-h3-fw; line-height: $rst-h3-lh; }
h4            { font-size: $rst-h4-size; font-weight: $rst-h4-fw; line-height: $rst-h4-lh; }
h5            { font-size: $rst-h5-size; font-weight: $rst-h5-fw; line-height: $rst-h5-lh; }
h6            { font-size: $rst-h6-size; font-weight: $rst-h6-fw; line-height: $rst-h6-lh; }

/* 

## Forms

*/
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* 

## Table

*/
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* 

## Content

*/
strong        { font-weight:bold; }
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

/* 

## Lists

*/
ul,ol         { list-style:none; }