/* 

# Category Page 

Contains the category title, description and image as well as the list and/or grid view of the products contained in it.

## Variables

*/

// Category Header
$ctgy-title-margin: 0 0 7px !default;

$ctgy-img-margin: 0 0 10px !default;
$ctgy-img-ta: center !default;
$ctgy-img-width: 100% !default;

$ctgy-desc-margin: 0 0 10px !default;

// Product Grid
$prd-grid-bdb: 1px solid #ddd !default;

$prd-grid-c1-width: 790px !default;
$prd-grid-c2l-width: 632px !default;
$prd-grid-c2r-width: 632px !default; 

$prd-grid-item-pad: 12px 10px 80px !default;
$prd-grid-item-width: 138px !default;

$prd-grid-img-height: 135px !default;
$prd-grid-img-margin: 0 0 10px !default;
$prd-grid-img-width: 135px !default;

$prd-grid-name-margin: 0 0 5px !default;
$prd-grid-name-fz: 13px !default;
$prd-grid-name-fw: bold !default;

$prd-grid-price-margin: 5px 0 !default;
$prd-grid-avail-lh: 21px !default;
$prd-grid-act-bottom: 12px !default;

// Product List
$prd-list-bdb: 1px solid #ddd !default;
$prd-list-pad: 12px 10px !default;

$prd-list-img-width: 135px !default;
$prd-list-img-height: 125px !default;
$prd-list-img-margin: 0 0 10px !default;

$prd-list-shop-ml: 150px !default;

$prd-list-name-margin: 0 0 5px !default;
$prd-list-name-fw: bold !default;
$prd-list-name-fz: 13px !default;

$prd-list-price-margin: 3px 13px 5px 0 !default;
$prd-list-avail-margin: 3px 0 0 !default;
$prd-list-desc-pad: 6px 0 0 !default;
$prd-list-desc-margin: 0 0 15px !default;
$prd-list-desc-lh: 1.35 !default;
$prd-list-desc-learn-fz: 11px !default;
$prd-list-add-sep-margin: 0 2px !default;

/*

## Category Header

```
	<div class="page-title category-title">
    	<h1>Category Title</h1>
	</div>
	<p class="category-image"><img title="Category Image" alt="Category Image" src="http://placekitten.com/475/215"></p>
	<div class="category-description std">
		Category Description
    </div>
```

*/
.category-title { border:0; margin: $ctgy-title-margin; }
.category-image { 
	width: $ctgy-img-width; 
	overflow:hidden; 
	margin: $ctgy-img-margin; 
	text-align: $ctgy-img-ta;
	img {}
}
.category-description { margin: $ctgy-desc-margin; }

/*

## Product Views

### Product Grid

```
	<div class="category-products">
		<ul class="products-grid first last odd">
		    <li class="item first">
		        <a class="product-image" title="Product Name" href="#">
		            <img width="135" height="135" alt="Product Name" src="http://placekitten.com/135/135">
		        </a>
		        <h2 class="product-name"><a title="Product Name" href="#">Product Name</a></h2>
		        <div class="ratings">
		            <div class="rating-box">
		                <div style="width:62%" class="rating"></div>
		            </div>
		            <span class="amount"><a href="#">3 Review(s)</a></span>
		        </div>
		        <div class="price-box">
		            <span id="product-price-83" class="regular-price">
		                <span class="price">£15.99</span>                                    
		            </span>     
		        </div>
		        <div class="actions">
		            <button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
		            <ul class="add-to-links">
		                <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
		                <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
		            </ul>
		        </div>
		    </li>
		    <li class="item">
		        <a class="product-image" title="Product Name" href="#">
		            <img width="135" height="135" alt="Product Name" src="http://placekitten.com/135/135">
		        </a>
		        <h2 class="product-name"><a title="Product Name" href="#">Product Name</a></h2>
		        <div class="ratings">
		            <div class="rating-box">
		                <div style="width:62%" class="rating"></div>
		            </div>
		            <span class="amount"><a href="#">3 Review(s)</a></span>
		        </div>
		        <div class="price-box">
		            <span id="product-price-83" class="regular-price">
		                <span class="price">£15.99</span>                                    
		            </span>     
		        </div>
		        <div class="actions">
		            <button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
		            <ul class="add-to-links">
		                <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
		                <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
		            </ul>
		        </div>
		    </li>
		    <li class="item last">
		        <a class="product-image" title="Product Name" href="#">
		            <img width="135" height="135" alt="Product Name" src="http://placekitten.com/135/135">
		        </a>
		        <h2 class="product-name"><a title="Product Name" href="#">Product Name</a></h2>
		        <div class="ratings">
		            <div class="rating-box">
		                <div style="width:62%" class="rating"></div>
		            </div>
		            <span class="amount"><a href="#">3 Review(s)</a></span>
		        </div>
		        <div class="price-box">
		            <span id="product-price-83" class="regular-price">
		                <span class="price">£15.99</span>                                    
		            </span>     
		        </div>
		        <div class="actions">
		            <button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
		            <ul class="add-to-links">
		                <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
		                <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
		            </ul>
		        </div>
		    </li>
		</ul>
	</div>
```

*/

.category-products {}
.products-grid { 
	border-bottom: $prd-grid-bdb; 
	position: relative; 
	&.last { border-bottom: 0; }
	li {
		&.item {
			float: left; 
			padding: $prd-grid-item-pad;
			width: $prd-grid-item-width; 
		}
	}
	.product-image { 
		display: block; 
		width: $prd-grid-img-width; 
		height: $prd-grid-img-height; 
		margin: $prd-grid-img-margin; 
	}
	.product-name { 
		margin: $prd-grid-name-margin;
		font-weight: $prd-grid-name-fw;
		font-size: $prd-grid-name-fz;
		a {}
	}
	.price-box { margin: $prd-grid-price-margin; }
	.availability { line-height: $prd-grid-avail-lh; }
	.actions { 
		position: absolute; 
		bottom: $prd-grid-act-bottom; 
	}

	.col1-layout &,
	.col2-left-layout &,
	.col2-right-layout & { margin:0 auto; }
	.col1-layout { width: $prd-grid-c1-width; }
	.col2-left-layout { width: $prd-grid-c2l-width; }
	.col2-right-layout { width: $prd-grid-c2r-width; }
}

/* 

### Product List

```
	<ol id="products-list" class="products-list">
	    <li class="item odd">
	        <a class="product-image" title="Product Name" href="#">
	            <img width="135" height="135" alt="Product Name" src="http://placekitten.com/135/135">
	        </a>
	        <div class="product-shop">
	            <div class="f-fix">
	                <h2 class="product-name"><a title="Product Name" href="#">Product Name</a></h2>
	                <div class="ratings">
	                    <div class="rating-box">
	                        <div style="width:62%" class="rating"></div>
	                    </div>
	                    <p class="rating-links">
	                        <a href="#">3 Review(s)</a>
	                        <span class="separator">|</span>
	                        <a href="#">Add Your Review</a>
	                    </p>
	                </div>
	                <div class="price-box">
	                    <span id="product-price-83" class="regular-price">
	                        <span class="price">£15.99</span>
	                    </span>
	                </div>
	                <p><button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button></p>
	                <div class="desc std">
	                    Comfortable and fun to wear these clogs are the latest trend in fashion footwear
	                    <a class="link-learn" title="Product Name" href="#">Learn More</a>
	                </div>
	                <ul class="add-to-links">
	                    <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
	                    <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
	                </ul>
	            </div>
	        </div>
	    </li>
	    <li class="item last even">
	        <a class="product-image" title="Product Name" href="#">
	            <img width="135" height="135" alt="Product Name" src="http://placekitten.com/135/135">
	        </a>
	        <div class="product-shop">
	            <div class="f-fix">
	                <h2 class="product-name"><a title="Product Name" href="#">Product Name</a></h2>
	                <div class="ratings">
	                    <div class="rating-box">
	                        <div style="width:62%" class="rating"></div>
	                    </div>
	                    <p class="rating-links">
	                        <a href="#">3 Review(s)</a>
	                        <span class="separator">|</span>
	                        <a href="#">Add Your Review</a>
	                    </p>
	                </div>
	                <div class="price-box">
	                    <span id="product-price-83" class="regular-price">
	                        <span class="price">£15.99</span>
	                    </span>
	                </div>
	                <p><button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button></p>
	                <div class="desc std">
	                    Comfortable and fun to wear these clogs are the latest trend in fashion footwear
	                    <a class="link-learn" title="Product Name" href="#">Learn More</a>
	                </div>
	                <ul class="add-to-links">
	                    <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
	                    <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
	                </ul>
	            </div>
	        </div>
	    </li>
	</ol>
```

*/

.products-list {
	li { 
		&.item {
			border-bottom: $prd-list-bdb; 
			padding: $prd-list-pad; 
			&.last { border-bottom:0; }
		}
	}
	.product-image { 
		float:left; 
		width: $prd-list-img-width; 
		height: $prd-list-img-height; 
		margin: $prd-list-img-margin; 
	}
	.product-shop { margin-left: $prd-list-shop-ml; }
	.product-name { 
		margin: $prd-list-name-margin; 
		font-weight: $prd-list-name-fw; 
		font-size: $prd-list-name-fz; 
		a {}
	}
	.price-box { 
		float:left; 
		margin: $prd-list-price-margin; 
	}
	.availability { 
		float:left; 
		margin: $prd-list-avail-margin; 
	}
	.desc { 
		clear:both; 
		padding: $prd-list-desc-pad; 
		margin: $prd-list-desc-margin; 
		line-height: $prd-list-desc-lh; 
		.link-learn { font-size: $prd-list-desc-learn-fz; }
	}
	.add-to-links { 
		clear:both; 
		li { display:inline; }
		.separator { display:inline; margin: $prd-list-add-sep-margin; }
	}
}