/*

# Product View

## Variables

*/

$no-rating-margin: 0 !default;
$ratings-fz: 11px !default;
$ratings-lh: 1.25 !default;
$ratings-margin: 7px 0 !default;
$ratings-links-margin: 0 !default;
$ratings-links-sep-margin: 0 2px !default;
$ratings-box-mr: 3px !default;

$rating-box-width: 69px !default;
$rating-box-height: 13px !default;
$rating-box-star-empty-bg: url(../images/bkg_rating.gif) 0 0 repeat-x !default;
$rating-box-star-full-bg: url(../images/bkg_rating.gif) 0 100% repeat-x !default;

$ratings-table-fz: 11px !default;
$ratings-table-lh: 1.15 !default;
$ratings-table-pad: 3px 0 !default;
$ratings-table-label-fw: bold !default;
$ratings-table-label-pr: 8px !default;

$avail-margin: 0 !default;
$avail-msg-fw: bold !default;
$avail-stock-color: inherit !default; 
$avail-nostock-color: #d83820 !default;

$avail-only-margin: 0 0 7px !default;
$avail-only-bg: url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat !default;
$avail-only-pr: 15px !default;
$avail-only-bg-pos: 100% -15px !default;
$avail-only-margin: 0 0 7px !default;
$avail-only-label-bg: #f2f2f2 !default;
$avail-only-label-fz: 10px !default;
$avail-only-label-pad: 0 8px !default;
$avail-only-value-bdb: 1px solid #ddd !default;
$avail-only-value-fz: 11px !default;
$avail-only-value-pad: 2px 8px 1px !default;

$price-box-price-fw: bold !default;
$price-rp-price-fw: bold !default;
$price-op-price-fw: bold !default;
$price-op-price-td: line-through !default;
$price-sp-label-fw: bold !default;
$price-sp-price-fw: bold !default;
$price-mp-label-fw: bold !default;
$price-mpl-price-fw: normal !default;
$price-excl-price-fw: normal !default;
$price-inc-price-fw: bold !default;
$price-cp-label-fw: bold !default;
$price-cp-value-fw: bold !default;
$price-from-label-fw: bold !default;
$price-to-label-fw: bold !default;
$price-notice-pl: 10px !default;
$price-notice-price-fw: bold !default;
$price-asconf-label-fw: bold !default;
$price-teir-price-fw: bold !default;

$add-cart-label-mr: 5px !default;
$add-cart-btn-ml: 5px !default;
$add-cart-pp-ta: right !default;
$add-cart-pp-margin: 5px 60px 5px 0 !default;
$add-cart-pppv-margin: 0 !default;
$add-to-box-or-margin: 0 10px !default;
$add-to-links-sep-disp: none !default;
$prodcol-boxcol-margin: 0 0 15px !default;
$prod-img-width: 267px !default;
$prod-img-bd: 1px solid #ddd !default;
$prod-img-zoom-width: 265px !default;
$prod-img-zoom-height: 265px !default;
$prod-img-zoom-notice-ta: center !default;
$prod-img-zoom-slider-height: 18px !default;
$prod-img-zoom-slider-margin: 0 auto 13px !default;
$prod-img-zoom-slider-pad: 0 28px !default;
$prod-img-zoom-slider-bg: url(../images/slider_bg.gif) 50% 50% no-repeat !default;
$prod-img-zoom-slider-disabled-opacity: 0.3 !default;
$prod-img-zoom-handle-bg: url(../images/magnifier_handle.gif) 0 0 no-repeat !default;
$prod-img-zoom-handle-height: 22px !default;
$prod-img-zoom-handle-width: 9px !default;
$prod-img-more-ml: -4px !default;
$prod-img-more-item-pad: 1px !default;
$prod-img-more-item-bg: #ddd !default;
$prod-img-more-item-margin: 0 0 8px 4px !default;
$prod-img-popup-nav-margin: 0 100px !default;
$prod-view-shop-width: 445px !default;
$prod-view-shop-col1-width: 700px !default;
$prod-opt-pad: 10px !default;
$prod-opt-margin: 10px 0 0 !default;
$prod-opt-bd: 1px solid #ddd !default;
$prod-opt-bg: #f6f6f6 !default;
$prod-opt-label-fw: bold !default;
$prod-opt-disabled-bg: none !default;
$prod-opt-disabled-bd: none !default;
$prod-opt-disabled-pad: 3px !default;
$prod-opt-disabled-color: #000 !default;
$prod-opt-label-margin: 10px 0 !default;
$prod-opt-text-width: 98% !default;
$prod-opt-date-width: 150px !default;
$prod-opt-textarea-width: 98% !default;
$prod-opt-textarea-height: 8em !default;
$prod-opt-sel-width: 100% !default;
$prod-opt-time-disp: inline-block !default;
$prod-opt-time-pad: 2px 0 !default;
$prod-opt-list-radio-margin: 3px -18px 0 0 !default;
$prod-opt-list-check-margin: 3px -20px 0 0 !default;
$prod-opt-list-label-ml: 20px !default;
$prod-opt-val-fail-pad: 0 7px !default;
$prod-opt-req-pad: 15px 0 0 !default;
$prod-opt-price-box-margin: 10px 0 !default;
$prod-upsell-grid-item-width: 25% !default;
$prod-tags-iptbox-width: 260px !default;
$prod-tags-iptbox-margin: 0 5px !default;
$prod-tags-ipttxt-width: 254px !default;


/* 
## Ratings 

### No Rating

```	
	<p class="no-rating">
		<a href="#">Be the first to review this product</a>
	</p>
```
*/
.no-rating { margin: $no-rating-margin; }

/*

### Rated

```
	<div class="ratings">
        <div class="rating-box">
            <div style="width:73%" class="rating"></div>
        </div>
        <p class="rating-links">
            <a href="#">2 Review(s)</a>
            <span class="separator">|</span>
            <a href="#">Add Your Review</a>
        </p>
    </div>
```

*/
.ratings { 
	font-size: $ratings-fz; 
	line-height: $ratings-lh; 
	margin: $ratings-margin; 
	strong { 
		float:left; 
		margin:1px 3px 0 0;
	}
	dt {}
	dd {}
	.rating-links { 
		margin: $ratings-links-margin; 
		.separator { margin: $ratings-links-sep-margin; }
	}
	.rating-box { 
		float:left; 
		margin-right: $ratings-box-mr;
	}
	.amount {}
}

.rating-box { 
	width:69px; 
	height:13px;
	font-size:0;
	line-height:0;
	background: $rating-box-star-empty-bg;
	text-indent:-999em;
	overflow:hidden;
	.rating { 
		float:left;
		height:13px;
		background: $rating-box-star-full-bg;
	}
} 

/*

### Ratings Table

Table to show ratings for each point (found on product review list page)

```
	<table class="ratings-table">
	        <colgroup>
	        	<col width="1">
	        	<col>
	        </colgroup>
	        <tbody>
		        <tr>
		            <th>Quality</th>
		            <td>
		                <div class="rating-box">
		                    <div style="width:40%;" class="rating"></div>
		                </div>
		            </td>
		        </tr>
		        <tr>
		            <th>Price</th>
		            <td>
		                <div class="rating-box">
		                    <div style="width:20%;" class="rating"></div>
		                </div>
		            </td>
		        </tr>
		        <tr>
		            <th>Value</th>
		            <td>
		                <div class="rating-box">
		                    <div style="width:60%;" class="rating"></div>
		                </div>
		            </td>
		        </tr>
	        </tbody>
	</table>
```

*/

.ratings-table {
	th, td { font-size: $ratings-table-fz; line-height: $ratings-table-lh; padding: $ratings-table-pad; } 
	th { font-weight: $ratings-table-label-fw; padding-right: $ratings-table-label-pr; }
}

/* 

## Availability 

Shows current stock status for product.

```
	<p class="availability in-stock">Availability: <span>In stock</span></p>

	<p class="availability out-of-stock">Availability: <span>Out of stock</span></p>
```

*/

.availability { 
	margin: $avail-margin; 
	span { font-weight: $avail-msg-fw; }
	&.in-stock {
		span { color: $avail-stock-color; }
	}
	&.out-of-stock { 
		span { color: $avail-nostock-color; } 
	}
}

/*
### Availability Only

When Configuration->Inventory->Stock Options->Only X left Threshold is set

```
	<p class="availability-only">
        <span title="Only 2 left">Only <strong>2</strong> left</span>
    </p>
```
*/

.availability-only { 
	margin:0 0 7px; 
	a { 
		background: $avail-only-bg; 
		cursor:pointer; 
		padding-right: $avail-only-pr; 
	}
	strong { }
	.expanded { background-position: $avail-only-bg-pos; }
}
/*
Show stock levels for individual products on a configurable/bundle product

```
	<p class="availability-only">
        <a title="Only 1749 left" href="#" class="expanded">Only <strong>1749</strong> left</a>
    </p>
	<table class="availability-only-details">
	    <colgroup><col>
	    <col width="1">
	    </colgroup><thead>
	        <tr class="first last">
	            <th>Product Name</th>
	            <th class="a-center">Qty</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr class="first odd">
	            <td>Product Name</td>
	            <td class="a-center last">2</td>
	        </tr>
			<tr class="even">
	            <td>Product Name</td>
	            <td class="a-center last">998</td>
	        </tr>
			<tr class="last odd">
	            <td>Product Name</td>
	            <td class="a-center last">749</td>
	        </tr>
	    </tbody>
	</table>
```

*/

.availability-only-details { 
	margin: $avail-only-margin; 
	th { background: $avail-only-label-bg; font-size: $avail-only-label-fz; padding: $avail-only-label-pad; }
	td { border-bottom: $avail-only-value-bdb; font-size: $avail-only-value-fz; padding: $avail-only-value-pad; }
	tr.odd td.last {}
}

/* 
## Email to a Friend 
```
	<p class="email-friend"><a href="#">Email to a Friend</a></p>
```
*/
.email-friend {}
/* 
### Send a Friend

Located on separate page after clicking 'Email to a Friend' link.

Uses common elements, `.page-title`, `.fieldset`, `.buttons-set` and `.form-list`.

*/
.send-friend {}

/* 
## Alerts 
*/

/*
### Price Alert
```
	<p class="alert-price link-price-alert">
    	<a title="Sign up for price alert" href="#">Sign up for price alert</a>
	</p>
```
*/
.alert-price {}

/*
### Stock Alert
```
	<p class="alert-stock link-stock-alert">
	    <a title="Sign up to get notified when this product is back in stock" href="#">Sign up to get notified when this product is back in stock</a>
	</p>
```
*/
.alert-stock {}

/*
## Pricing

Each price type commonly wrapped with:

```
	<div class="price-box">
		<span class="[PRICE_TYPE]">
			<span class="price">Pricing HTML</span>
		</span>
	</div>
```

*/

.price { white-space:nowrap !important; }

.price-box {
	.price { font-weight: $price-box-price-fw; }
}

/* 
### Regular price 

```
	<span class="regular-price">
		<span class="price">£15.00</span>
	</span>
```

*/
.regular-price {
	.price { font-weight: $price-rp-price-fw; }
}

/* ### Old price */
.old-price {
	.price-label { white-space:nowrap; }
	.price { font-weight: $price-box-price-fw; text-decoration: $price-op-price-td; }
}

/* ### Special price */
.special-price {
	.price-label { font-weight: $price-sp-label-fw; white-space:nowrap; }
	.price { font-weight: $price-sp-price-fw; }
}

/* 
### Minimal price 

Grouped product:

```
	<p class="minimal-price">
		<span class="price-label">Starting at:</span>
		<span id="product-minimal-price-54" class="price">£129.99</span>
	</p>
```

*/
.minimal-price {
	.price-label { font-weight: $price-mp-label-fw; white-space:nowrap; }
}

/*
Configurable product (List/Grid view)

```
    <a class="minimal-price-link" href="#">
        <span class="label">As low as:</span>
        <span class="price">£449.00</span>
    </a>
```

*/
.minimal-price-link { 
	display: block;
	.label {}
	.price { font-weight: $price-mpl-price-fw; }
}

/*

### Incl tax & Excl tax

```
	<div class="price-box">
		<span class="price-excluding-tax">
			<span class="label">Excl. Tax:</span>
			<span id="price-excluding-tax-41" class="price">£399.99</span>
		</span>
		<span class="price-including-tax">
			<span class="label">Incl. Tax:</span>
			<span id="price-including-tax-41" class="price">£399.99</span>
		</span>
	</div>
```

*/
.price-excluding-tax { 
	display: block;
	.label { white-space: nowrap; }
	.price { font-weight: $price-excl-price-fw; }
}
.price-including-tax { 
	display:block; 
	.label { white-space:nowrap; }
	.price { font-weight: $price-inc-price-fw; }
}


/* 
### Configured price 

```
	<p class="price-as-configured">
    	<span class="price-label">Price as configured:</span>
        <span class="full-product-price">
            <span class="price">£5,074.95</span>
        </span>
    </p>
```

*/
.configured-price {
	.price-label { font-weight: $price-cp-label-fw; white-space:nowrap; }
	.price { font-weight: $price-cp-value-fw; }
}

/* ### FPT */
.weee { 
	display:block; 
	font-size:11px; 
	color:#444;
	.price { 
		font-size:11px; 
		font-weight:normal;
	}
}

/* ### Excl tax (for order tables) */
.price-excl-tax  { 
	display:block;
	.label { display:block; white-space:nowrap; }
	.price { display:block; font-weight: $price-excl-price-fw; }
}

/* ### Incl tax (for order tables) */
.price-incl-tax { 
	display:block;
	.label { display:block; white-space:nowrap; }
	.price { display:block; font-weight: $price-inc-price-fw; }
}

/* 
### Price range 

Bundle Products:

```
	<p class="price-from">
		<span class="price-label">From:</span>
		<span class="price">£447.98</span>
	</p>
	<p class="price-to">
		<span class="price-label">To:</span>
		<span class="price">£4,477.92</span>
	</p>                    
```

*/
.price-from {
	.price-label { font-weight: $price-from-label-fw; white-space:nowrap; }
}
.price-to {
	.price-label { font-weight: $price-to-label-fw; white-space:nowrap; }
} 

/* 
### Price notice 

Next to the options on a configurable product.

```
	<div class="input-box">
		Product Option Name &nbsp; 
		<span class="price-notice">
			+<span class="price">£0.00</span>
		</span>
	</div>
```

*/
.price-notice { 
	padding-left: $price-notice-pl;
	.price { font-weight: $price-notice-price-fw; }
}

/* ### Price as configured */
.price-as-configured {
	.price-label { font-weight: $price-asconf-label-fw; white-space:nowrap; }
}

.price-box-bundle {}

/* 

### Tier Pricing

Offers discounts on higher quantity of single item purchases

```
	<ul class="tier-prices product-pricing">	
		<li class="tier-price tier-0">
			Buy 5 for <span class="price">£12.50</span> each and&nbsp;
			<strong class="benefit">save&nbsp;<span class="percent tier-0">8</span>%</strong>
	        <span class="msrp-price-hide-message"></span>
	    </li>
		<li class="tier-price tier-1">
			Buy 10 for <span class="price">£11.50</span> each and&nbsp;
			<strong class="benefit">save&nbsp;<span class="percent tier-1">15</span>%</strong>
	        <span class="msrp-price-hide-message"></span>
	    </li>
		<li class="tier-price tier-2">
			Buy 20 for <span class="price">£9.50</span> each and&nbsp;
			<strong class="benefit">save&nbsp;<span class="percent tier-2">30</span>%</strong>
	        <span class="msrp-price-hide-message"></span>
		</li>
	</ul>
```

*/
.tier-prices {
	.price { font-weight: $price-teir-price-fw; }
	.benefit {}
}
.tier-prices-grouped {}


/* 
## Add to

### Cart 

```
	<div class="add-to-cart">
		<label for="qty">Qty:</label>
		<input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
		<button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
	</div>
```
*/
.add-to-cart {
	label { float:left; margin-right: $add-cart-label-mr; }
	.qty { float:left; }
	button.button { float:left; margin-left: $add-cart-btn-ml; }
	.paypal-logo { 
		clear:left; 
		text-align: $add-cart-pp-ta;
		.paypal-or { 
			clear:both; 
			display:block; 
			margin: $add-cart-pp-margin; 
		}
	}
}
.product-view .add-to-cart .paypal-logo { margin: $add-cart-pppv-margin; }

/* 
### Links 

```
	<ul class="add-to-links">
	    <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
	    <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
	</ul>
```

*/
.add-to-links {
	.separator { display: $add-to-links-sep-disp; }
}

/* 
### Links & Cart 

```
	<div class="add-to-box">
		<div class="add-to-cart">
			<label for="qty">Qty:</label>
			<input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
			<button class="button btn-cart" title="Add to Cart" type="button"><span><span>Add to Cart</span></span></button>
		</div>
		<span class="or">OR</span>
		<ul class="add-to-links">
		    <li><a class="link-wishlist" href="#">Add to Wishlist</a></li>
		    <li><span class="separator">|</span> <a class="link-compare" href="#">Add to Compare</a></li>
		</ul>
	</div>
```

*/

.add-to-box {
	.add-to-cart { float:left; }
	.or { float:left; margin: $add-to-box-or-margin; }
	.add-to-links { float:left; }
}

.product-view {}

.product-essential {}

.product-collateral .box-collateral { margin: $prodcol-boxcol-margin; }

/* 
## Product Images 

### Zoom Enabled

```
	<div class="product-img-box">
	    <p class="product-image product-image-zoom">
	        <img title="Product Name" alt="Product Name" src="http://placekitten.com/265/265" id="image" style="left: 0px; top: 0px;">
	    </p>
	    <p id="track_hint" class="zoom-notice">Double click on above image to view full picture</p>
	    <div class="zoom">
	        <img class="btn-zoom-out" title="Zoom Out" alt="Zoom Out" src="http://magebase.local/skin/frontend/webtise/default/images/slider_btn_zoom_out.gif" id="zoom_out">
	        <div id="track">
	            <div id="handle" class="selected" style="left: 0px;"></div>
	        </div>
	        <img class="btn-zoom-in" title="Zoom In" alt="Zoom In" src="http://magebase.local/skin/frontend/webtise/default/images/slider_btn_zoom_in.gif" id="zoom_in">
	    </div>
	    <div class="more-views">
	        <h2>More Views</h2>
	        <ul>
	            <li><a title="" href="#"><img width="56" height="56" alt="" src="http://placekitten.com/56/56"></a></li>
	            <li><a title="" href="#"><img width="56" height="56" alt="" src="http://placekitten.com/56/56"></a></li>
	        </ul>
	    </div>
	</div>
```

### Zoom disabled

```
	<div class="product-img-box">
	    <p class="product-image">
	        <img title="Product Name" alt="Product Name" src="http://placekitten.com/265/265" id="image" style="left: 0px; top: 0px;">
	    </p>
	    <div class="more-views">
	        <h2>More Views</h2>
	        <ul>
	            <li><a title="" href="#"><img width="56" height="56" alt="" src="http://placekitten.com/56/56"></a></li>
	            <li><a title="" href="#"><img width="56" height="56" alt="" src="http://placekitten.com/56/56"></a></li>
	        </ul>
	    </div>
	</div>
```

*/
.product-img-box { 
	float:left; 
	width: $prod-img-width;
	.col3-layout & { 
		float:none; 
		margin:0 auto; 
	}
	.product-image { border: $prod-img-bd; }
	.product-image-zoom { 
		position:relative; 
		width: $prod-img-zoom-width; 
		height: $prod-img-zoom-height; 
		overflow:hidden; 
		z-index:9; 
		img { 
			position:absolute; 
			left:0; 
			top:0; 
			cursor:move; 
		}
	}
	.zoom-notice { text-align: $prod-img-zoom-notice-ta; }
	.zoom { 
		position:relative; 
		z-index:9; 
		height: $prod-img-zoom-slider-height;
		margin: $prod-img-zoom-slider-margin;
		padding: $prod-img-zoom-slider-pad;
		background: $prod-img-zoom-slider-bg;
		cursor:pointer;
		&.disabled { 
			-moz-opacity: $prod-img-zoom-slider-disabled-opacity;
			-webkit-opacity: $prod-img-zoom-slider-disabled-opacity;
			opacity: $prod-img-zoom-slider-disabled-opacity;
		}
		#track { 
			position:relative; 
			height: $prod-img-zoom-slider-height;
		}
		#handle { 
			position:absolute;
			left:0;
			top:-1px;
			width: $prod-img-zoom-handle-width;
			height: $prod-img-zoom-handle-height;
			background: $prod-img-zoom-handle-bg;
		}
		.btn-zoom-out { 
			position:absolute;
			left:2px;
			top:0;
		}
		.btn-zoom-in { 
			position:absolute;
			right:2px;
			top:0;
		}
	}
	.more-views {
		ul { margin-left: $prod-img-more-ml }
		li { 
			float:left; 
			padding: $prod-img-more-item-pad; 
			background-color: $prod-img-more-item-bg; 
			margin: $prod-img-more-item-margin;
		}
	} 
}

/*

### Product Image Popup

Popup when a product thumbnail is clicked from product page image thumbnails.

```
	<div class="product-image-popup">
	    <div class="buttons-set">
	        <a class="button" href="#"><span>Close Window</span></a>
	    </div>
	    <div class="nav">
	        <a class="prev" href="#">« Prev</a>
	    </div>
	    <img class="image" id="product-gallery-image" title="" alt="" src="http://placekitten.com/600/600">
	    <div class="buttons-set">
	        <a class="button" href="#"><span>Close Window</span></a>
	    </div>
	    <div class="nav">
	        <a class="prev" href="#">« Prev</a>
	    </div>
	</div>
```

*/

.product-image-popup { 
	margin:0 auto;
	.buttons-set { 
		float:right; 
		clear:none; 
		border:0; 
		margin:0; 
		padding:0;
	}
	.nav { 
		margin: $prod-img-popup-nav-margin; 
		text-align:center;
	}
	.image { display:block; }
	.image-label {}
}

/* 
## Product Shop 

Contains vital product information, name, reviews, add to cart and short description.

```
	<div class="product-view">
		<div class="product-shop">
			<div class="product-name">
				<h1>Product Name</h1>
			</div>
			<div class="short-description">
                <h2>Quick Overview</h2>
                <div class="std">
					[ADMIN_CONTENT]
                </div>
            </div>
		</div>
	</div>
```

*/

.product-view {
	.product-shop { float:right; width: $prod-view-shop-width; }
	.col1-layout & {
		.product-shop { float:right; width: $prod-view-shop-col1-width; }
	}
	.col3-layout & {
		.product-shop { float:none; width:auto; }
	}
	.product-name {}
	.short-description {}
}

/* 

## Product Options 

```
	<div id="product-options-wrapper" class="product-options">
    	<dl class="last">
            <dt><label class="required"><em>*</em>Size</label></dt>
	        <dd>
	            <div class="input-box">
	                <select class="required-entry super-attribute-select validation-failed">
	                    <option value="">Choose an Option...</option>
	                    <option value="100" price="0">Small</option>
	                    <option value="99" price="0">Medium</option>
	                    <option value="98" price="0">Large</option>
	                </select>
	                <div class="validation-advice">This is a required field.</div>
	            </div>
	        </dd>
            <dt><label class="required"><em>*</em>Color</label></dt>
	        <dd class="last">
	            <div class="input-box">
	                <select class="required-entry super-attribute-select" disabled="">
	                    <option>Choose an Option...</option>
	                </select>
	            </div>
	        </dd>
        </dl>
        <p class="required">* Required Fields</p>
    </div>
```

*/

.product-options { 
	padding: $prod-opt-pad; 
	margin: $prod-opt-margin; 
	border: $prod-opt-bd; 
	background: $prod-opt-bg;
	dt {
		label { font-weight: $prod-opt-label-fw; }
		.qty-holder { 
			float:right; 
			label { vertical-align:middle; }
		}
		.qty-disabled { 
			background: $prod-opt-disabled-bg; 
			border: $prod-opt-disabled-bd; 
			padding: $prod-opt-disabled-pad; 
			color: $prod-opt-disabled-color; 
		}
	}
	dd { 
		margin:10px 0; 
		input {
			.input-text { width: $prod-opt-text-width; }
			.datetime-picker { width:$prod-opt-date-width; }
		}
		textarea { width: $prod-opt-textarea-width; height: $prod-opt-textarea-height; }
		select { width: $prod-opt-sel-width; }
		.time-picker { 
			display: $prod-opt-time-disp; 
			padding: $prod-opt-time-pad; 
			vertical-align:middle; 
		}
	}
	dl.last dd.last {}
	.options-list {
		input {
			.radio { float:left; margin: $prod-opt-list-radio-margin; }
			.checkbox { float:left; margin: $prod-opt-list-check-margin; }
		}
		.label { display:block; margin-left: $prod-opt-list-label-ml; }
	}
	ul.validation-failed { padding: $prod-opt-val-fail-pad }
	p.required { padding: $prod-opt-req-pad; }
}

.product-options-bottom { 
	padding: $prod-opt-pad; 
	border: $prod-opt-bd; 
	border-top:0; 
	.price-box { margin: $prod-opt-price-box-margin; }
}

/* Grouped Product */
.product-view {
	.grouped-items-table {}
}

/* 
## Block: Description

Contains product data from the "description" attribute. See Normalize->Base for `.std` definitions.

```
	<div class="box-collateral box-description">
		<h2>Details</h2>
		<div class="std">
			[ADMIN_CONTENT]
		</div>
	</div>
```

*/
.product-view {
	.box-description {}
}

/* 
## Block: Additional

Contains table of attributes set to 'Show on Product View Page'

```
	<div class="box-collateral box-additional">
	    <h2>Additional Information</h2>
	    <table id="product-attribute-specs-table" class="data-table">
	        <colgroup>
	            <col width="25%">
	            <col>
	        </colgroup>
	        <tbody>
	            <tr class="first odd">
	                <th class="label">Attribute Label</th>
	                <td class="data last">Attribute Value</td>
	            </tr>
	            <tr class="last even">
	                <th class="label">Attribute Label</th>
	                <td class="data last">Attribute Value</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
```

*/
.product-view {
	.box-additional {}
}

/* 
## Block: Upsell

```
	<div class="box-collateral box-up-sell">
	    <h2>You may also be interested in the following product(s)</h2>
	    <table id="upsell-product-table" class="products-grid">
	        <tbody>
	            <tr class="first last odd">
	                <td>
	                    <a class="product-image" title="Product Name" href="#">
	                        <img width="125" height="125" alt="Product Name" src="http://placekitten.com/125/125">
	                    </a>
	                    <h3 class="product-name"><a title="Product Name" href="#">Product Name</a></h3>
	                    <div class="price-box">
	                        <span class="regular-price">
	                            <span class="price">£1,799.99</span>
	                        </span>
	                    </div>    
	                    <div class="ratings">
	                        <div class="rating-box">
	                            <div style="width:64%" class="rating"></div>
	                        </div>
	                        <p class="rating-links">
	                            <a href="#">6 Review(s)</a>
	                            <span class="separator">|</span>
	                            <a href="#">Add Your Review</a>
	                        </p>
	                    </div>
	                </td>
	                <td>
	                    <a class="product-image" title="Product Name" href="#">
	                        <img width="125" height="125" alt="Product Name" src="http://placekitten.com/125/125">
	                    </a>
	                    <h3 class="product-name"><a title="Product Name" href="#">Product Name</a></h3>
	                    <div class="price-box">
	                        <span class="regular-price">
	                            <span class="price">£1,799.99</span>
	                        </span>
	                    </div>    
	                    <div class="ratings">
	                        <div class="rating-box">
	                            <div style="width:64%" class="rating"></div>
	                        </div>
	                        <p class="rating-links">
	                            <a href="#">6 Review(s)</a>
	                            <span class="separator">|</span>
	                            <a href="#">Add Your Review</a>
	                        </p>
	                    </div>
	                </td>
	                <td class="empty">&nbsp;</td>
	                <td class="empty last">&nbsp;</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
```

*/

.product-view {
	.box-up-sell {
		.products-grid {
			td { width: $prod-upsell-grid-item-width; }
		}
	}
} 


/* 
## Block: Tags 

```
	<div class="product-view">
		<div class="box-collateral box-tags">
		    <h2>Product Tags</h2>
		    <h3>Other people marked this product with these tags:</h3>
		    <ul class="product-tags">
		        <li class="first"><a href="#">young</a> (4)</li> 
		        <li><a href="#">hip</a> (4)</li> 
		        <li class="last"><a href="#">cool t-shirt</a> (4)</li>    
		    </ul>
		    <form method="get" action="#" id="addTagForm">
		        <div class="form-add">
		            <label for="productTagName">Add Your Tags:</label>
		            <div class="input-box">
		                <input type="text" id="productTagName" name="productTagName" class="input-text required-entry">
		            </div>
		            <button class="button" title="Add Tags" type="button">
		                <span>
		                    <span>Add Tags</span>
		                </span>
		            </button>
		        </div>
		    </form>
		    <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
		</div>
	</div>
```

*/

.product-view { 
	.box-tags {
		.form-add {
			label { float:left; }
			.input-box { float:left; width: $prod-tags-iptbox-width; margin: $prod-tags-iptbox-margin; }
			input.input-text { width: $prod-tags-ipttxt-width; }
			p { clear:both; }
		}
	}
}

/* 
## Block: Reviews

```
	<div id="customer-reviews" class="box-collateral box-reviews">
	    <h2>Customer Reviews</h2>
	    <dl>
	        <dt>
	            <a href="#">Review Title</a> Review by <span>Review Name</span>
	        </dt>
	        <dd>
	            <table class="ratings-table">
	                [RATINGS_TABLE]
	            </table>
	            Review Text
	            <small class="date">(Posted on 31/08/2007)</small>
	        </dd>
	    </dl>
	</div>
```

*/
.product-view {
	.box-reviews {
		.form-add {}
	}
}